{% extends 'general/main.twig' %}
{% import 'general/forms.twig' as forms %}

{% block title %}Add a new account{% endblock %}

{% block content %}
    <h2>Add a new account</h2>
    <form action="{{ self() }}" method="post">
        {{ forms.input_field('txtName', 'Username', username, errUsername) }}
        {{ forms.input_field('txtPass', 'Password', '', errPass, 'password') }}
        {{ forms.input_field('txtRePass', 'Re-enter password', '', errRePass, 'password') }}
        {{ forms.buttons('add', true) }}
    </form>
{% endblock %}